body,
main{
  background-color: var(--white);
  overflow-x: visible !important;
  max-width: 100% !important;
}
.hero-container{
  position: relative;
  /* background-color: red; */
  height: 100vh;
  height: 100svh;
}
.bg{
  position: absolute;
}
#hero{
  height: 100%;
}
#extra-text{

  width: 100%;
  height: 10vh;
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
}
/* ABOUT ME */
#about{
  /* background-color: red; */
  justify-content: space-evenly;
  height: 70vh;
  width: 100%;
}
bruv{
  width: 70%;
}
#about .cta{
  margin-top: var(--uni);
}
/* WORK */

.padding-work{
  padding-left: calc(var(--uni) * 5);
  padding-right: calc(var(--uni) * 5);
}
#work{
  width: 100%;
}
#work-title{
  pointer-events: none;
  position: sticky;
  top: 0;
  height: 90vh;
  height: 90svh;
}
project{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25vh;
}
project img{
  max-width: 450px;
  aspect-ratio: 3 / 4;
  display: block;
  object-fit: cover;
  /* position: relative; */
  /* width: 100%; */
}
#project-row{
  flex-direction: column;
  /* margin-bottom: 25vh; */
  width: 85%;
}
.p1{
  width: 45%;
}
.p2{
  width: 35%;
}
.p3{
  width: 30%;
}
#project-cta{
  width: 100%;
  align-self: center;
  /* text-transform: uppercase; */
}

/* ARROW IN PROJECT CTA */
.icon{
  width: var(--h2);
}
/* FOOTER */


@media (max-width: 1200px){
  #work{
    width: 100%;
  }
}
@media (max-width: 800px){
  bruv{
    width: 100%;
  }
  #work-title{
    position: inherit;
    top: auto;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 0;
  }
  #project-row{
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }
  project{
    object-fit: cover;
    width: 100%;
    margin: 2.5vh 0;
  }
  project img{
    /* aspect-ratio: 3 / 2 !important; */
    width: 100%;
    min-height: auto;
  }
}
@media (max-width: 500px){
  /* .bg{
    position: relative;
    align-items: center;
  } */
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .hero-container p{
    position: inherit;
    width: 90%;
  }
}